<!DOCTYPE html>
<html lang="en">
<head>
	  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>VINO | Your Personal Product Tracker</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/products.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>