<header>
        <div class="headerImg">
            <img id="logoImg" src="assets/images/header_logo-01.svg" alt="Vine Logo">
        </div>
    </header>

<!--    EDIT PAGE CONTENT BELOW    -->    
    <div class="container">

        <div class="pageContent">
            <h1>Products On Your Vino</h1>
            
            <h2>Liked Products</h2>
            
            <ul>
                {{#each products}} {{#unless liked}} {{> products/product-block like=true}} {{/unless}} {{/each}}
            </ul>
            
            <h2>Disliked Products</h2>
            
            <ul>
                {{#each products}} {{#if liked}} {{> products/product-block like=false}} {{/if}} {{/each}}
            </ul>
        </div>

    </div>
<!--    EDIT PAGE CONTENT ABOVE    -->

    <footer>
    <div class = "footerImgs">
        <div id="dislikeBtn"><img src="assets/images/icons-01.svg" width="50px"><br>View Dislikes</div>
        <div id="cameraBtn"><img src="assets/images/icons-02.svg" width="60%"></div>
        <div id="likeBtn"><img src="assets/images/icons-03.svg" width="50px"><br>View Likes</div>
    </div>
    </footer>