
<div class="container">
    <div class="pageContent">
        <div id="mainLogo">
            <img src="/public/assets/images/VineLogo_main.svg" width="100%" alt="Main Logo">
        </div>

        <div class="user-container">
            <div class="pageTitle">Create A Profile</div>
            <form id="user-form" method="POST" action="/register">
                <input class="form-control" placeholder="First Name" id="first-name" type="text" name="firstName" />
                <br>
                <input class="form-control" placeholder="Last Name" id="last-name" type="text" name="lastName" />
                <br>
                <input class="form-control" placeholder="Middle Initial" id="middle-initial" type="text" name="middleInitial" />
                <br>
                <input class="form-control" placeholder="Address" id="address" type="text" name="address" />
                <br>
                <input class="form-control" placeholder="City" id="city" type="text" name="city" />
                <br>
                <input class="form-control" placeholder="State" id="state" type="text" name="state" />
                <br>
                <input class="form-control" placeholder="ZipCode" id="zip" type="text" name="zip" />
                <br>
                <input class="form-control" placeholder="Phone" id="phone" type="text" name="phone" />
                <br>
                <input class="form-control" placeholder="Enter your email address" id="user-email" type="email" name="email" />
                <br>
                <input class="form-control" placeholder="Enter your password" id="user-password" type="password" name="password"/>
                <div class="spaceDiv">
                    <button type="submit" class="btn">Create New Profile</button>
                </div>
            </form>
        </div>
    </div>