
<div class="container">
    <div class="pageContent">
        <div id="mainLogo">
            <img src="/public/assets/images/VineLogo_main.svg" width="100%" alt="Main Logo">
        </div>

        <div class="user-container">
            <div class="pageTitle">Create A Profile</div>
            <form id="user-form" method="POST" action="/register">
                <input class="form-control" placeholder="Enter your name" id="user-name" type="text" name="name" />
                <br>
                <input class="form-control" placeholder="Enter your email address" id="user-email" type="email" name="email" />
                <br>
                <input class="form-control" placeholder="Enter your password" id="user-password" type="password" name="password"/>
                <div class="spaceDiv">
                    <button type="submit" class="btn">Create New Profile</button>
                </div>
            </form>
        </div>
    </div>