<div class="container">

    <div class="pageContent">
        <div class="pageTitle">Liked Products</div>
        <hr>
        <div class="liked-container">
    Products: {{products}}
    

  
        </div>
    </div>
</div>