<header>
        <div class="headerImg">
            <a href="index.html"><img id="logoImg" src="../public/assets/images/header_logo-01.svg" alt="Vine Logo"></a>
        </div>
    </header>
    <div class="container">

        <div class="pageContent">
            <div id="userImage">No Image Added</div>
            
            <div class="ratingBar">
                <p>Your Rating:</p>
                    <img class="star" id="star1" src="../public/assets/images/star_white.svg" alt="1 Star Rating">
                    <img class="star" id="star2" src="../public/assets/images/star_white.svg" alt="2 Star Rating">
                    <img class="star" id="star3" src="../public/assets/images/star_white.svg" alt="3 Star Rating">
                    <img class="star" id="star4" src="../public/assets/images/star_white.svg" alt="4 Star Rating">
                    <img class="star" id="star5" src="../public/assets/images/star_white.svg" alt="5 Star Rating">
            </div>

        <div class="productInfo">
                <h3>Date Added</h3>
                <p class="dateText">April 30, 2017</p>
                <h3>Location</h3>
                <p class="locationText">Napa Valley, CA</p>
            </div>
        </div>
</div>

    <footer>
    <div class = "footerImgs">
        <div id="dislikeBtn"><img src="../public/assets/images/icons-01.svg" width="50px"><br>View Dislikes</div>
        <div id="cameraBtn"><img src="../public/assets/images/icons-02.svg" width="60%"></div>
        <div id="likeBtn"><img src="../public/assets/images/icons-03.svg" width="50px"><br>View Likes</div>
    </div>
    </footer>