* {
  box-sizing: border-box;
}

hr {
  width: 200px;
}

body {
  margin: 0px;
  background-image: url(../assets/images/background-01.png);
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #7b7b7b;
}

.spaceDiv {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

header {
  position: fixed;
  z-index: 2;
  height: 80px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1d8649;
}

h1 {
  font-size: 24pt;
  color: #1d8649;
  margin: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase; 
  margin: 0px 0px 5px 0px;
}

h3 {
  margin: 6px 0px 1px 0px;
  font-size: 18pt;
  text-transform: uppercase; 
  letter-spacing: .5px;
}

p {
  margin: 1px;
  font-size: 12pt;
}

.pageLinks a {
  font-size: 18pt;
  font-weight: bold;
  color: #1d8649;
  text-decoration: none;
}

.formContainer {
  padding: 0px 20px;
}

.form-group {
  margin-bottom: 0px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  color: #7b7b7b;
  font-size: 12pt;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid #b8b8b8;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;
  color: #7b7b7b;
  font-size: 12pt;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid #b8b8b8;
}

.formTitle {
  padding: 10px 0px 10px 0px;
  font-size: 16pt;
  font-weight: bold;
}

.btn {
  background-color: #1d8649;
  width: 30%;
  padding: 5px;
  border: 1px solid #186337;
  border-radius: 5px;
  font-size: 14pt;
  color: white;
  margin: 0px 0px 15px 0px;
}

.btn:hover {
  cursor: pointer;
  background-color: #165e34;
}

.btn4 {
  background-color: #1d8649;
  width: 20%;
  padding: 5px;
  border: 1px solid #186337;
  border-radius: 5px;
  font-size: 14pt;
  color: white;
  margin: 0px 10px 0px 10px;
}

.btn4:hover {
  cursor: pointer;
  background-color: #165e34;
}

.btn3 {
  background-color: rgb(196, 0, 0);
  width: 20%;
  padding: 5px;
  border: 1px solid rgb(136, 0, 0);
  border-radius: 5px;
  font-size: 14pt;
  color: white;
  margin: 0px 10px 0px 10px;
}

.btn3:hover {
  cursor: pointer;
  background-color: rgb(136, 0, 0);
}

/* For Like/Dislike Buttons */
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  opacity: 1;
}

input[type=radio] + label>img {
  margin: 0px 10px 0px 10px;
  width: 55px;
  height: 55px;
  opacity: .6;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform: scale(1.25);
}

.headerImg {
  max-width: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#mainLogo {
  width: 275px;
  margin: 20px auto 20px auto;
}

#logoImg {
  width: 150px;
  top: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin: 120px auto 130px auto;
}

.pageContent {
  padding: 30px 10px 30px 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  width: 85%;
  background-color: white;
  border: 1px solid rgb(201, 201, 201);
  text-align: center;
}

#userImage {
  margin: 10px auto 10px auto;
  max-width: 300px;
  width: 100%;
  height: auto;
  font-size: 18pt;
  line-height: 370px;
  background-color: rgb(201, 201, 201);
}

.ratingBar {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.star {
  width: 35px;
  margin: 2px;
}

.star:hover {
  cursor: pointer;
  width: 39px;
  margin: 0;
}

.productInfo {
  padding-top: 5px;
  text-align: center;
}

#dislikeBtn {
  text-align: center;
  color: white;
  font-size: 11pt;
  line-height: 150%;
  opacity: .8;
}

#dislikeBtn:hover {
  cursor: pointer;
  opacity: 1;
}

#likeBtn {
  text-align: center;
  color: white;
  font-size: 11pt;
  line-height: 150%;
  opacity: .8;
}

#likeBtn:hover {
  cursor: pointer;
  opacity: 1;
}

#cameraBtn {
  width: 120px;
  height: 120px;
  margin: 0px 30px 0px 30px;
  border-radius: 60px;
  line-height: 97px;
  text-align: center;
  background-color: white;
  border: 10px solid #1d8649;
}

#cameraBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 68);
}

.footerImgs {
  display: flex;
  max-width: 550px;
  width: 100%;
  height: 130px;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}

footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-image: url(../assets/images/footer_background-01.png);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
}